@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
  background-color: #fff;
  color: #646a70;
  font: normal 400 1.4rem / 1.8 "Muli", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.popupPv h5 {
  background-color: #eee;
  padding: 5px 0;
  font-size: 2rem;
  font-weight: bold;
}

.popupPv .indirizzo {
  font-size: 80%;
  margin: 5px 0;
}

.gm-style .gm-style-iw {
  top: 0 !important;
  left: 0 !important;
  max-width: 300px !important;
  padding-top: 10px;
  display: block !important;
  text-align: center;
}

.gm-style div div div div div div div div {
  margin: 0;
  padding: 0;
  top: 0;
  color: #000;
  font-size: 16px;
}


.maps {
  height: 75%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 80px;
  left: 30px;
  z-index: 1;
  transition: 0.5s;
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.back_vol {
  text-decoration: none;
  text-align: right;
  font-size: 2rem;
  font-style: italic;
  color: #337ab7;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: .8rem 1rem;
}

a {
  transition: all .3s;
  color: #5e5e5e;
  text-decoration: none;
}

.maps .reuslt {
  height: 100%;
  background: rgba(248, 248, 248, 0.1);
  outline: none;
  overflow-x: auto;
}

.maps .reuslt ul {
  padding: 0 10px;
  list-style-type: none;
  font-family: Muli;
}

.d-sm-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.maps .result ul li {
  padding-bottom: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  font-size: 90%;
  align-items: center;
  cursor: pointer;
}


.maps .result ul li .center {
  flex: 1;
  padding: 0 10px;
}


.maps .result ul li .last {
  float: right;
  font-weight: bold;
  margin-left: 15px;
  width: 100%;
  border-left: 1px solid #ccc;
  /* text-align: center; */
  font-size: 100%;
  padding: 8px;
}

.btn-box {
  position: fixed;
  top: 87%;
  width: 50%;
}

.btn-customize {
  min-width: 100%;

}

@media screen and (max-width: 991px) {
  .btn-box {
    position: fixed;
    top: 90%;
    left: 5%;
    width: 90%;
  }

  /* #sub_ {
    display: none !important;
  } */

  .maps {
    width: 100% !important;
    position: absolute;
    top: 80px;
    left: -11px;
  }
}

#sub_ {
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-radius: 0;
  width: 100%;
  font-weight: bold;
  background-color: #fff;
  color#000: ;
  border: 1rem solid #3fa535;
  color: #000;
  font-size: 1.5rem;
}

.btn_top,
.btn_bottom {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: fit-content;
  margin: auto;
  width: 1.8rem;
  height: 1.8rem;
  margin-bottom: 5px;
  align-items: center;
  padding: 0.3rem;
}


#mappa {
  height: 100vh;
  width: 100vw;
  display: none;
}

.mapsPv {
  /*height: 75vh;*/
  /*position: absolute;*/
  /*top: 10vh;*/
  /*left: 30px;*/
  z-index: 1;
  transition: 0.5s;
  /*width: 40%;*/
  display: flex;
  flex-direction: column;
}

#jsres {
  overflow-y: auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}

.mapsPv ul li {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  font-size: 90%;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding: 0 0.3rem;
}

.mapsPv ul li a {
  max-width: 20%;
  background-color: #fff;
}

.mapsPv ul li .center {
  flex: 1;
  padding: 0 0.3rem;
  font-size: 80%;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin: 0.3rem;
}

.mapsPv ul li .center span {
  font-weight: bold;
  font-size: 70%;
  border-right: 1px solid #eee;
  padding-right: 0.3rem;
}

.mapsPv h5 {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.2rem 0;
  margin: 0;
}

.mapsPv ul li .last span {
  /*display: block;*/
}

.mapsPv ul li .last {
  font-weight: bold;
  width: 20%;
  text-align: center;
  padding: 1.5rem 0;
}

.marker-link h4 {
  font-weight: bold;
  color: red;
  margin: 0;
  font-size: 1.3rem;
}

#header {
  display: none;
  box-shadow: 0 4px 2px -2px grey;
  z-index: 1;
  /*position: absolute;*/
  color: #fff;
  background-color: #3fa535;
  padding: .3rem 1rem;
  font-family: "Muli";
  text-align: center;
}

#header h2 {
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: .2rem;
}

#header p {
  line-height: 1.6rem;
  font-size: 1rem;
  margin-bottom: 0;
}

@media screen and (orientation:portrait) {
  .mapsPv {
    width: 100%;
    left: 0;
    bottom: 0;
    top: inherit;
overflow: auto;
    flex: 1;    
    padding-bottom: 15vh;
    /*height: 16vh;*/
    /*background: rgba(255, 255, 255, 0.8);*/
  }

  #jsres {
    padding: 0;
    overflow-y: auto;
    margin: 0;
  }

  .mapsPv ul li {
    font-size: 65%;
  }

  .btn_top {
    display: flex;
  }

  #header {
    display: block;
  }

  #header img {
    margin: auto;
  }

  .mapsPv.in {
    height: 80vh;
  }

  .mapsPv.out {
    /*height: 16vh;*/
  }

  .mapsPv.in .btn_top {
    display: none;
  }

  .mapsPv.in .btn_bottom {
    display: flex;
  }

  .mapsPv.out .btn_top {
    display: flex;
  }

  .mapsPv.out .btn_bottom {
    display: none;
  }

  .mapsPv.in #jsres {
    overflow-y: auto;
  }

  .mapsPv.out #jsres {
    overflow-y: hidden;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  margin: auto;
  font-size: 1.5rem;
  vertical-align: top;
  display: flex;
  align-items: center;
  color: green;
  font-weight: bolder;
  transition-delay: 1s;
}

.checkbox>span {
  display: none;
}

.checkbox.active>span {
  display: block;
}