* {
    box-sizing: border-box;
}

body{
    color: #0e446f;
    font-size: 1rem;
    line-height: 28px;
    font-family: 'Varela Round', sans-serif;
}
section {
    width: 100%;
    height: 486px;
    height: 100%;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#registra_cluster {
    margin: auto;
    width: 90%;
    padding: 20px 0;
}
#registra_cluster label {
    color: #fff;
    margin-top: 20px;
}
label {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: .5rem;
}

.input_content {
    position: relative;
}

.input_content span {
    position: absolute;
    display: block;
    left: 10px;
    top: 6px;
    z-index: 9;
    font-weight: bold;
    color: #999;
}
.input_content input {
    padding-left: 50px;
    color:#999;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
select:not(:-internal-list-box) {
    overflow: visible !important;
}



.logo {
    display: block;
    padding-top: 0;
}



.img-responsive {
    
text-align: center;
max-width: 100%;
height: 137px;
margin-top: 60px;

}

img{
    vertical-align: middle;
    border-style: none;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
text-center {
    text-align: center !important;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#home {
    height: 200px;
    width: 100%;
    
}


/* Modal */

.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


#terms {
    padding-top: 7px;
}

.title {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.title h6 {
    color: lightskyblue;
}